:root {
  --main-text-color: #0d0d0d;
  --secondary-text-color: #fef9f8;
  --main-background-color: #fef9f8;
  --primery-color: #ef9273;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--main-text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--primery-color);
}

#nev-paragraph {
  font-family: "Dancing Script", cursive;
  margin: auto 0.8rem;
  font-size: 1.9rem;
  font-weight: 600;
}

ul {
  display: inherit;
  justify-content: space-between;
  list-style: none;
}

ul > li {
  margin: 0 0.7rem;
}

.nav-link:hover {
  transform: rotate(7deg);
  transition: 0.5s;
}
