:root {
  --main-text-color: #0d0d0d;
  --secondary-text-color: #fef9f8;
  --main-background-color: #fef9f8;
  --primery-color: #ef9273;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: var(--main-background-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--main-text-color);
}

.navbar {
  position: fixed;
  width: 100%;
  border-bottom: 3px solid #000;
  display: flex;
  justify-content: space-between;
  background-color: var(--primery-color);
  z-index: 1;
}

.navbar p {
  animation: nav-header 3s ease;
}

#nev-paragraph {
  font-family: "Dancing Script", cursive;
  margin: auto 1.4rem;
  font-size: 1.9rem;
  font-weight: 600;
}

ul {
  display: inherit;
  justify-content: space-between;
  list-style: none;
  animation: nav-list 3s ease;
}

ul > li {
  margin: 0 2.3rem;
}

h1 > span {
  color: var(--primery-color);
  font-family: "Dancing Script", cursive;
}

.nav-link:hover {
  transform: rotate(7deg);
  transition: 0.5s;
}

.btn {
  width: 15%;
  height: 3rem;
  /* margin-left: 1.9rem; */
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  background: var(--primery-color);
  border-radius: 6px;
}

.btn:hover {
  border: 2px solid #000;
  border-radius: 0;
  transform: scale(1.1);
  transition: ease 0.5s;
}

#welcome-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--main-background-color);
}

#welcome-section p {
  width: 35%;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 500;
}

#welcome-section h1 {
  font-size: 2rem;
}

#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about > p {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

#about > h2 {
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 1.6rem;
}

.about-container {
  width: 65%;
  display: inherit;
  flex-direction: row;
}

.about-container div {
  margin: 1.5rem;
  width: 13rem;
  background: rgba(99, 101, 92, 0.4);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.icon {
  padding: 1rem;
}

.about-container h2 {
  padding: 1rem;
}

.about-container p {
  padding: 1rem;
}

#projects {
  text-align: center;
  padding: 0 2rem;
}

#projects h2 {
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 1.6rem;
}

#projects > p {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.project-title {
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-link {
  background: var(--primery-color);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2px;
}

img {
  display: block;
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .btn {
    width: 25%;
  }
  #about > p {
    width: 65%;
    font-size: 1.11rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-container div {
    margin: 1.5rem;
    width: 100%;
    background: rgba(99, 101, 92, 0.4);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
}

hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

@keyframes nav-header {
  0% {
    opacity: 0;
    margin-left: -200px;
  }
  50% {
    opacity: 0.75;
    margin-left: 60px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nav-list {
  0% {
    opacity: 0;
    margin-right: -200px;
  }
  50% {
    opacity: 0.75;
    margin-right: 60px;
  }
  100% {
    opacity: 1;
  }
}
