/*-----variables--------*/
:root {
  --main-text-color: #0d0d0d;
  --secondary-text-color: #fef9f8;
  --main-background-color: #fef9f8;
  --primery-color: #ef9273;
  --main-black:#000;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: var(--main-background-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
/*-------------navbar section------------*/
a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--main-text-color);
}

.navbar {
  position: fixed;
  width: 100%;
  border-bottom: 3px solid var(--main-black);
  display: flex;
  justify-content: space-between;
  background-color: var(--primery-color);
  z-index: 1;
}

.navbar p {
  animation: nav-header 3s ease;
}

#nev-paragraph {
  font-family: "Dancing Script", cursive;
  margin: auto 1.4rem;
  font-size: 1.9rem;
  font-weight: 600;
}

ul {
  display: inherit;
  justify-content: space-between;
  list-style: none;
  animation: nav-list 3s ease;
}

ul > li {
  margin: 0 2.3rem;
}

h1 > span {
  color: var(--primery-color);
  font-family: "Dancing Script", cursive;
}

.nav-link:hover {
  transform: rotate(7deg);
  transition: 0.5s;
}
/*------------welcome section-----------*/
#welcome-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--main-background-color);
}

#welcome-section p {
  width: 35%;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 500;
}

#welcome-section h1 {
  font-size: 2rem;
}

.btn {
  width: 15%;
  height: 3rem;
  /* margin-left: 1.9rem; */
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  background: var(--primery-color);
  border-radius: 6px;
}

.btn:hover {
  border: 2px solid var(--main-black);
  border-radius: 0;
  transform: scale(1.1);
  transition: ease 0.5s;
}
/*--------------projects section---------------*/
#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about > p {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

#about > h2 {
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 1.6rem;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.about-item {
  margin: 1.5rem;
  width: 13rem;
  background: rgba(99, 101, 92, 0.4);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.about-item:hover{
  background-color: var(--primery-color);
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.icon {
  padding: 1rem;
}

.about-container h2 {
  padding: 1rem;
}

.about-container p {
  padding: 1rem;
}

#projects {
  text-align: center;
  padding: 0 2rem;
}

#projects h2 {
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 1.6rem;
}

#projects > p {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.project-title {
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-link {
  background: var(--primery-color);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2px;
}

.project-link:hover {
  box-shadow:
1px 1px #373737,
2px 2px #373737,
3px 3px #373737,
4px 4px #373737,
5px 5px #373737,
6px 6px #373737;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: 0.5s ease;
}

img {
  display: block;
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

/*----------contact section--------------*/

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.form-container{
  width: 70%;
  margin-bottom: 2rem;
}

form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

input[type="text"],input[type="email"]{
  width: 45%;
  height: 2.5rem;
  margin: 2rem 1.5rem;
}

#subject{
  width:94.5%;
}

textarea{
  width: 94.5%;
  margin:2rem;
  resize: none;
}

input,textarea{
  border: 3px solid var(--primery-color);
  font-family: inherit;
  font-size: large;
  font-weight: bold;
  padding: 01.4rem;
}

input:focus,textarea:focus{
  outline: none;
}

#btn{
  width: 130px;
  height: 45px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family:inherit;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: linear-gradient(to left, #ef9273 50%, #000 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

#btn:hover{
  color: #fff;
  background-position: left;
}

/*-------footer section------------*/

.footer{
  background-color: #373737;
  height: 30vh;
}

.footer div {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.footer p {
  padding: 1.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.footer ul {
  margin-left: 3.5rem ;
}

.footer-icon {
  color: #fff;
  width: 1.5rem;
  font-size: 45px;
}

.telegram:hover{
  color: #0088CC;
  transform: 0.4s;
}

.twitter:hover{
	color:#1DA1F2;
  transform: 0.4s;
}

.instagram:hover{
  color: #5851db;
  transform: 0.4s;
}

.github:hover{
  color: #6cc644;
  transform: 0.4s;
}

@media (max-width: 768px) {
  .btn {
    width: 25%;
  }
  #about > p {
    width: 65%;
    font-size: 1.11rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-container div {
    margin: 1.5rem;
    width: 100%;
    background: rgba(99, 101, 92, 0.4);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  input[type="text"],input[type="email"]{
    width: 100%;
  }

}

hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: var(--main-black);
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: var(--main-black);
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

/*-------------navbar animations------------*/

@keyframes nav-header {
  0% {
    opacity: 0;
    margin-left: -200px;
  }
  50% {
    opacity: 0.75;
    margin-left: 60px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nav-list {
  0% {
    opacity: 0;
    margin-right: -200px;
  }
  50% {
    opacity: 0.75;
    margin-right: 60px;
  }
  100% {
    opacity: 1;
  }
}
